{#
/*!
*   Copyright © 2021,2022 IsardVDI S.L.
*
*   This file is part of DD
*
*   DD is free software: you can redistribute it and/or modify
*   it under the terms of the GNU Affero General Public License as published by
*   the Free Software Foundation, either version 3 of the License, or (at your
*   option) any later version.
*
*   DD is distributed in the hope that it will be useful, but WITHOUT ANY
*   WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
*   FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
*   details.
*
*   You should have received a copy of the GNU Affero General Public License
*   along with DD. If not, see <https://www.gnu.org/licenses/>.
*
* SPDX-License-Identifier: AGPL-3.0-or-later
*/
#}
@font-face {
    font-family: 'LeagueSpartan';
    src: url('../fonts/LeagueSpartan-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'LeagueSpartan Bold';
    src: url('../fonts/LeagueSpartan-Bold.ttf');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'LeagueSpartan Light';
    src: url('../fonts/LeagueSpartan-Light.ttf');
    font-weight: normal;
    font-style: normal;
  }

#body-user, #body-settings, #body-public {
    font-family: 'LeagueSpartan', sans-serif;
    color:  #262626;
}

#body-user #app-dashboard>h2, #body-settings #app-dashboard>h2, #body-public #app-dashboard>h2 {
    color:  #262626;
}


#body-user header#header, #body-settings header#header, #body-public header#header {
    background-color: white !important;
    box-shadow: 0 2px 4px #00000014;
    border-bottom: none;
    background-image: inherit;
}

#theming-preview-logo, #header #nextcloud {
    padding-left: 82px;
    bottom: 1px;
}

#navbar-nextcloud #unified-search {
    margin-right: 16px;
}

#navbar-nextcloud #unified-search a.header-menu__trigger .magnify-icon {
    width: 16px;
    height: 16px;
}

#navbar-nextcloud #unified-search.header-menu.unified-search a.header-menu__trigger {
    background-color: #F0F0F0;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    position: relative;
    top: 8px;
    left: 9px;
}

#navbar-nextcloud #unified-search a.header-menu__trigger {
    opacity: 1;
}

#navbar-nextcloud #unified-search #header-menu-unified-search div.header-menu__carret {
    right: 205px;
}

#navbar-nextcloud .notifications .notifications-button {
    opacity: 1;
}
#navbar-nextcloud .notifications .notifications-button img.svg {
    filter: invert(100%)
}

#navbar-nextcloud .notifications .notifications-button.menutoggle {
    margin-right: 16px;
    width: 36px;
    height: 36px;
    background-color: #f0f0f0;
    border-radius: 5px;
    position: relative;
    top: 8px;
    left: 1px;
    opacity: 1 !important;
}

#navbar-nextcloud #contactsmenu .icon-contacts {
    background-image: var(--icon-contacts-000);
    opacity: 1;
    margin-right: 16px;
    width: 36px;
    height: 36px;
    background-color: #f0f0f0;
    position: relative;
    top: 8px;
    border-radius: 5px;
    left: -7px;
}

#navbar-nextcloud #settings #expand {
    width: 39px;
    padding-right: 16px;
}

#navbar-nextcloud #settings #expand .avatardiv {
    height: 39px;
    width: 39px;
}

#navbar-nextcloud #settings #expand .avatardiv img {
    height: 39px;
    width: 39px;
}


#body-user div#content div#app-dashboard, #body-settings div#content div#app-dashboard, #body-public div#content div#app-dashboard {
    background-image: none !important;
    background-color: #F0F0F0!important;
}

#body-user div#app-navigation, #body-settings div#app-navigation, #body-public div#app-navigation {
    color: #262626 !important;
}

#header .header-menu__wrapper[data-v-a58f012a] {
    top: 65px;
}

#header #navbar-menu-apps #menu-apps-btn #dropdownMenuAppsButton {
    cursor: pointer;
    height: 16px;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header #navbar-menu-apps #menu-apps-btn #dropdownMenuAppsButton>svg {
    transform: scale(.5);
}

#header #navbar-menu-apps #menu-apps-btn #dropdownMenuAppsButton #menu-apps-icon {
    height: 16px;
    width: 16px;
}

#header div#navbar-menu-apps {
    display: flex;
    align-items: center;
    width: 50px;
    margin-right: 10px;
}

#header #navbar-menu-apps #menu-apps-btn {
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    background-color: #f0f0f0;
    position: relative;
    margin: auto;
    top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header #navbar-menu-apps .dropdown-menu {
    display: none;
    position: absolute;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 20%) 0 3px 8px;
    margin-top: 11px;
    padding: 10px;
    max-height: 500px;
    overflow-y: scroll;
    z-index: 2000;
    background-color: white;
    top: 33px;
    right: -14px;
    left: auto;
}

#header #navbar-menu-apps .dropdown-menu ul {
    list-style: none;
    display: grid;
    flex-wrap: wrap;
    padding: 2px 2px 10px 0;
    margin-bottom: 0;
    grid-template-columns: 133px 133px;
    grid-gap: 12px 2px;
}

#header #navbar-menu-apps .dropdown-menu ul#app-admin {
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 4px;
    margin-bottom: 6px;
}

#header #navbar-menu-apps .dropdown-menu ul#app-external {
    border-top: 1px solid #D9D9D9;
    padding-top: 20px;
    margin-top: 8px;
}

#header #navbar-menu-apps .dropdown-menu ul li.app a.app-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    text-align: center;
    color: #262626;
    text-decoration: none;
    background-color: #F0F0F0;
    margin-right: 8px;
    border-radius: 5px;
    padding: 5px;
}
#header #navbar-menu-apps .dropdown-menu ul li.app a.app-link:hover {
    background-color: {{ data.colours.primary }};
}
#header #navbar-menu-apps .dropdown-menu ul li.app a.app-link .icon {
    width: 40px;
    height: 40px;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 0.25rem;
}

#header #navbar-menu-apps .dropdown-menu ul li.app a.app-link .text {
    text-align: left;
    margin-left: 0;
    height: 26px;
    max-width: 71px;
    font-size: 13px;
    line-height: 15px;
    overflow-wrap: anywhere;
    display: flex;
    align-items: center;
    position: relative;
    top: 1px;
}

#header #navbar-menu-apps .dropdown-menu ul li.app a.app-link .icon i {
    color: {{ data.colours.primary }};
    font-size: 19px;    
}
#header #navbar-menu-apps .dropdown-menu ul li.app a.app-link:hover .icon i {
    color: #FFF;
}
#header #navbar-menu-apps .dropdown-menu ul li.app a.app-link:hover .text {
    color: #FFF;
}
div#content-vue {
    padding-top: 75px;
}

#content.app-files [data-path="/"][data-file="Talk"] {
  display: none !important;
}

#product-logo>a>img {
    height: 26px !important;
    margin-right: 30px !important;
    margin-top: 12px !important;
}

{% if data.custom_css %}
/* Add custom CSS from operator */
{{ data.custom_css }}
{% endif %}
